<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/about_us.css">

</head>

<body>
    <header>
        <div class="logo">
            <img src="../assets/logo.png">
            <h3>GetWheels</h3>
        </div>

        <div class="h_links">
            <a href="index.html">Home</a>
            <a href="about_us.html">About Us</a>
            <a href="car_list.html">Car List</a>
            <a href="faqs.html">FAQs</a>
        </div>

        <a href="./login.html">
            <div class="login_ic">
                <img src="../assets/ic_user.svg">
                username
            </div>
        </a>

    </header>

    <section class="sec1">
        <h2>
            Learn More About Us
        </h2>

        <div class="sec1_c">
            <img src="../assets/about_us/about_bkg.png">
            <p>Welcome to our premier car transportation service, where convenience meets reliability, and your journey
                becomes our priority. Whether you're a business traveler, a vacationer, or simply in need of a temporary
                ride, we have the perfect wheels to elevate your experience.</p>
        </div>
    </section>



    <section class="sec2">

        <div class="sec2_c">
            <h2>
                Why Choose Us?
            </h2>
            <div class="sec2_i">
                <img src="../assets/about_us/ic_item1.png">
                <p>We offer most competitive raes in Kuala Lumpur, ensuring you get the best value for your money.</p>
            </div>
            <div class="sec2_i">
                <img src="../assets/about_us/ic_item2.png">
                <p>Choose from a wide range of vehicles, from economy cars to spacious SUVs, to match your specific
                    needs and preferences.</p>
            </div>
            <div class="sec2_i">
                <img src="../assets/about_us/ic_item3.png">
                <p>Our dedicate customer support team is ready to assist you throughout your rental journey, ensuring a
                    smooth experience.</p>
            </div>
        </div>

    </section>


    <section class="sec3">
        <h2>
            Our Mission & Vision
        </h2>
        <div class="sec3_c">
            <div class="sec3_i" id="sec3_i1">

                <div class="sec3_i_c">
                    <h5>Mission</h5>
                    <p>To make your journey better, we provide hassle-free and reliable transportation services, so you
                        can
                        explore, travel, and create memories without worry. We're here to offer convenience, quality,
                        and a
                        smile every time you choose us for your ride.</p>
                </div>
            </div>
            <div class="sec3_i">

                <div class="sec3_i_c">
                    <h5>Vision</h5>
                    <p>To be the leading provider of seamless and innovative transportation solutions, setting the
                        standard
                        for exceptional customer experiences and redefining the way people travel.</p>
                </div>
            </div>
        </div>


    </section>

    <section class="sec4">
        <div class="sec4_c">
            <h2>Meet Our Team</h2>

            <div class="sec4_cc">

                <div class="sec4_i">
                    <img src="../assets/about_us/harini.jpg">
                    <div class="sec4_i_desc">
                        <p id="name">Harini</p>
                        <p id="pos">Sales Representee</p>
                        <p id="desc">Responsible for driving sales of rental cars services, which may include working
                            with
                            business customers and partner.</p>
                    </div>
                </div>

                <div class="sec4_i">

                    <img src="../assets/about_us/chew_yin1.jpg">
                    <div class="sec4_i_desc">
                        <p id="name">Chew Yin</p>
                        <p id="pos">Customer Service Representee</p>
                        <p id="desc">Responsible for driving sales of rental cars services, which may include working
                            with business customers and partner.</p>
                    </div>
                </div>

            </div>
            <div class="sec4_cc">

                <div class="sec4_i">
                    <img src="../assets/about_us/sharvin.jpg">
                    <div class="sec4_i_desc">
                        <p id="name">Sharvin</p>
                        <p id="pos">Vehicle Dispatcher</p>
                        <p id="desc">Responsible for driving sales of rental cars services, which may include working
                            with
                            business customers and partner.</p>
                    </div>
                </div>

                <div class="sec4_i">

                    <img src="../assets/about_us/wei_hao.jpg">
                    <div class="sec4_i_desc">
                        <p id="name">Wei Hao</p>
                        <p id="pos">Marketing Coordinator</p>
                        <p id="desc">Develop and execute marketing plans to increase awareness of the transportation
                            service</p>
                    </div>
                </div>

            </div>
        </div>

    </section>


    <footer>
        <div class="f_links">
            <a href="index.html">Home</a>
            <a href="about_us.html">About Us</a>
            <a href="car_list.html">Car List</a>
            <a href="faqs.html">FAQs</a>
        </div>
        © 2020 Copyright: MDBootstrap.com
    </footer>
</body>

</html>