<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car List</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/car_list.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="../assets/logo.png">
            <h3>GetWheels</h3>
        </div>

        <div class="h_links">
            <a href="index.html">Home</a>
            <a href="about_us.html">About Us</a>
            <a href="car_list.html">Car List</a>
            <a href="faqs.html">FAQs</a>
        </div>

        <a href="./login.html">
            <div class="login_ic">
                <img src="../assets/ic_user.svg">
                username
            </div>
        </a>

    </header>

    <section class="sec1">
        <h2>Available Cars</h2>
        <div class="sec1_c">

            <a href="./car_details.html">
                <div class="grid_item">
                    <img src="../assets/products/aruz.jpg">
                    <div class="item_details">
                        <p id="prodName">Perodua Aruz</p>
                        <p id="price">RM 60 / hour</p>
                        <p id="sizeTitle">Others:</p>
                        <p id="size">Regular 7 seater SUV</p>
                    </div>
                </div>
            </a>

            <div class="grid_item">
                <img src="../assets/products/serena.jpg">
                <div class="item_details">
                    <p id="prodName">Nissan Serena</p>
                    <p id="price">RM 70 / hour</p>
                    <p id="sizeTitle">Others:</p>
                    <p id="size">Regular 8 seater MPV</p>
                </div>
            </div>

            <div class="grid_item">
                <img src="../assets/products/camry.jpg">
                <div class="item_details">
                    <p id="prodName">Toyota Camry</p>
                    <p id="price">RM 80 / hour</p>
                    <p id="sizeTitle">Others:</p>
                    <p id="size">Premium Sedan Comfortable 5 seater</p>
                </div>
            </div>

            <div class="grid_item">
                <img src="../assets/products/toyota hiace.jpg">
                <div class="item_details">
                    <p id="prodName">Toyota Hiance</p>
                    <p id="price">RM 80 / hour</p>
                    <p id="sizeTitle">Others:</p>
                    <p id="size">Regular 10 seater Van</p>
                </div>
            </div>

            <div class="grid_item">
                <img src="../assets/products/kingo.webp">
                <div class="item_details">
                    <p id="prodName">CAM Kingo</p>
                    <p id="price">RM 85 / hour</p>
                    <p id="sizeTitle">Others:</p>
                    <p id="size">Regular 15 seater Van</p>
                </div>
            </div>

            <div class="grid_item">
                <img src="../assets/products/alphard.png">
                <div class="item_details">
                    <p id="prodName">Toyota Alphard</p>
                    <p id="price">RM 100 / hour</p>
                    <p id="sizeTitle">Others:</p>
                    <p id="size">Ultimate comfort 7 seater vehicle</p>
                </div>
            </div>

        </div>
    </section>

    <div class="review_btn">
        <a href="./cust_review.html">
            <h2>Check Our Reviews</h2>
        </a>
    </div>

    <footer>
        <div class="f_links">
            <a href="index.html">Home</a>
            <a href="about_us.html">About Us</a>
            <a href="car_list.html">Car List</a>
            <a href="faqs.html">FAQs</a>
        </div>
        © 2020 Copyright: MDBootstrap.com
    </footer>

</body>

</html>