<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Now!</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/car_book.css">
</head>

<body>

    <header>
        <div class="logo">
            <img src="../assets/logo.png">
            <h3>GetWheels</h3>
        </div>

        <div class="h_links">
            <a href="index.html">Home</a>
            <a href="about_us.html">About Us</a>
            <a href="car_list.html">Car List</a>
            <a href="faqs.html">FAQs</a>
        </div>

        <a href="./login.html">
            <div class="login_ic">
                <img src="../assets/ic_user.svg">
                username
            </div>
        </a>

    </header>

    <section class="sec1">
        <div class="sec1_c">

            <div class="car_details">
                <img src="../assets/products/aruz.jpg">

                <div class="details_container">
                    <h3>Perodua Aruz</h3>
                    <ul>
                        <li>
                            RM 60 / per hour
                        </li>
                        <li>
                            Regular 7 seater Mpv
                        </li>

                    </ul>
                </div>

            </div>

            <div class="user_details">
                <div id="name">
                    <h5>Full Name:</h5>
                    <input type="text" placeholder="fullname">
                </div>

                <div id="no_ic">
                    <h5>Identify Card no:</h5>
                    <input type="text" placeholder="XXXXXXX-XX-XXXX">
                </div>

                <div id="phone_no">
                    <h5>Phone No:</h5>
                    <input type="text" placeholder="phone no.">
                </div>

                <div id="rent_hrs">
                    <h5>Rent Hours:</h5>
                    <div class="hrs_inp">
                        <div>
                            Starts:
                            <input type="text" placeholder="XX:XX">
                        </div>
                        <div>
                            Ends:
                            <input type="text" placeholder="XX:XX">
                        </div>

                    </div>
                </div>

                <div id="deepo">
                    <h5>Deposit (RM):</h5>
                    <input type="text" placeholder="00.00">
                </div>

                <div class="order_btn_div">
                    <a href="./done_order.html"><button>Book Now</button></a>
                </div>

            </div>


        </div>

    </section>

    <footer>
        <div class="f_links">
            <a href="index.html">Home</a>
            <a href="about_us.html">About Us</a>
            <a href="car_list.html">Car List</a>
            <a href="faqs.html">FAQs</a>
        </div>
        © 2020 Copyright: MDBootstrap.com
    </footer>
</body>

</html>