<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Career</title>

    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/career.css">

</head>

<body>

    <header>
        <div class="logo">
            <img src="../assets/logo.png">
            <h3>GetWheels</h3>
        </div>

        <div class="h_links">
            <a href="index.html">Home</a>
            <a href="about_us.html">About Us</a>
            <a href="car_list.html">Car List</a>
            <a href="faqs.html">FAQs</a>
        </div>

        <a href="./login.html">
            <div class="login_ic">
                <img src="../assets/ic_user.svg">
                username
            </div>
        </a>

    </header>

    <section class="sec1">
        <div>
            <h2>Career</h2>

            <h3>Position Offered: Administrator</h3>

            <p>
                <strong>
                    Job Description:
                </strong>
                Hiring a proactive Admin Purchasing & Procurement to enhance
                incoming sales flow. This role involves coordinating procurement activities,
                maintaining records, and facilitating communication with suppliers and internal
                stakeholders.
            </p>
            <p>

                <strong>
                    Responsibilities:
                </strong>
                Plan and allocate vehicles and staff for new bookings.
                Coordinate with the sales team on administrative documents, including invoices
                and customer reservation.
                Communicate with clients regarding orders, collections, and other related
                matters.
            </p>

            <p>
                <strong>
                    Qualifications and Skills :
                </strong>
                • Has complete SPM.
                • Proven experience in procurement or a related administrative role.
                • Strong organizational and multitasking skills.
                • Excellent communication.
                • Excellent organizational and problem-solving skills.
                • Proficient in using procurement software and Microsoft Office applications.
            </p>
            <p>

                Job Highlights
            </p>
            <ul>
                <li></li>
                Medical Claim
                • Allowance
                • Yearly Bonus & Increment
            </ul>
        </div>



    </section>

    <footer>
        <div class="f_links">
            <a href="index.html">Home</a>
            <a href="about_us.html">About Us</a>
            <a href="car_list.html">Car List</a>
            <a href="faqs.html">FAQs</a>
        </div>
        © 2020 Copyright: MDBootstrap.com
    </footer>
</body>

</html>