<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>Our Reviews</title>

    <meta content="IE-edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, intial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="./css/cust_review.css" />
    <link rel="stylesheet" href="./css/styles.css" />

    <link rel="shortcut icon" href="images/fav-icon.png" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
</head>


<body>

    <header>
        <div class="logo">
            <img src="../assets/logo.png">
            <h3>GetWheels</h3>
        </div>

        <div class="h_links">
            <a href="index.html">Home</a>
            <a href="about_us.html">About Us</a>
            <a href="car_list.html">Car List</a>
            <a href="faqs.html">FAQs</a>
        </div>

        <a href="./login.html">
            <div class="login_ic">
                <img src="../assets/ic_user.svg">
                username
            </div>
        </a>

    </header>

    <section id="testimonials">
        <div class="testimonial-heading">
            <span>Comments</span>
            <h1>Clients Says</h1>
        </div>
        <div class="testimonial-box-container">
            <div class="testimonial-box">
                <div class="box-top">
                    <div class="profile">
                        <div class="profile-img">
                            <img src="../assets/cust_review/sitisarah.jpg" />
                        </div>
                        <div class="name-user">
                            <strong>Siti Sarah</strong>
                            <span>@SitiSarah</span>
                        </div>
                    </div>
                    <div class="reviews">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
                <div class="client-comment">
                    <p>Big thumbs up for Getwheels service. Our family went for a trip to Genting around May. We were
                        worried that they wouldn't allow our kids in the car cause our kids are quite naughty enough.
                        Fortunately, they were patient enough to deal with our kids. Thank you! You deserve 5 stars!</p>
                </div>
            </div>
            <div class="testimonial-box">
                <div class="box-top">
                    <div class="profile">
                        <div class="profile-img">
                            <img src="../assets/cust_review/AmeliaTan.jpeg" />
                        </div>
                        <div class="name-user">
                            <strong>Amelia Tan</strong>
                            <span>@AmeliaTan</span>
                        </div>
                    </div>
                    <div class="reviews">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
                <div class="client-comment">
                    <p>I once went from Singapore to Malaysia's popular places like KL, Penang, Malacca, there's a
                        driver and the driver is very good and friendly, it helps to reduce my burden as I dont have to
                        plan where to go. If you ever wanna visit Malaysia but dont know where to go, the driver will
                        introduce you to some hidden travel spots, Overall, its great!</p>
                </div>
            </div>
            <div class="testimonial-box">
                <div class="box-top">
                    <div class="profile">
                        <div class="profile-img">
                            <img src="../assets/cust_review/Kowshman.jpeg" />
                        </div>
                        <div class="name-user">
                            <strong>Kowshman</strong>
                            <span>@Kowshman</span>
                        </div>
                    </div>
                    <div class="reviews">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
                <div class="client-comment">
                    <p>I've always wanted to visit Genting since a few months ago. I was recommended by friends about
                        this driving service! At first, I was nervous because it was my first time having this kind of
                        service. But my worries are just nothing, they are friendly enough! Good service and love it
                        tho!</p>
                </div>
            </div>
            <div class="testimonial-box">
                <div class="box-top">
                    <div class="profile">
                        <div class="profile-img">
                            <img src="../assets/cust_review/ManjitSingh.jpg" />
                        </div>
                        <div class="name-user">
                            <strong>Manjit Singh</strong>
                            <span>@ManjitSingh</span>
                        </div>
                    </div>
                    <div class="reviews">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
                <div class="client-comment">
                    <p>The car they provided was very comfortable and spacious, so that our family didn't feel crowded
                        and comfortable along the way. The driver was also very approachable and friendly. He introduced
                        many hidden tourist attractions and their characteristics very carefully, which made us
                        interested.</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="f_links">
            <a href="index.html">Home</a>
            <a href="about_us.html">About Us</a>
            <a href="car_list.html">Car List</a>
            <a href="faqs.html">FAQs</a>
        </div>
        © 2020 Copyright: MDBootstrap.com
    </footer>
</body>

</html>
<title>Side Login and Registration Form Bar</title>


</head>

<body>
</body>

</html>