<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Completed</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/done_order.css">
</head>
<body>
    <header>
        <div class="logo">
          <img src="../assets/logo.png" />
          <h3>GetWheels</h3>
        </div>
  
        <div class="h_links">
          <a href="index.html">Home</a>
          <a href="about_us.html">About Us</a>
          <a href="car_list.html">Car List</a>
          <a href="faqs.html">FAQs</a>
        </div>
  
        <a href="./login.html">
          <div class="login_ic">
            <img src="../assets/ic_user.svg" />
            username
          </div>
        </a>
      </header>

      <section class="sec1">
        <div class="sec1c">
            <img src="../assets/ic_checkmark.svg">
            <p><strong>Order Completed! Redirecting to Home page...</strong></p>
        </div>

      </section>
    <footer>
        <div class="f_links">
            <a href="index.html">Home</a>
            <a href="about_us.html">About Us</a>
            <a href="car_list.html">Car List</a>
            <a href="faqs.html">FAQs</a>
        </div>
        © 2020 Copyright: MDBootstrap.com
    </footer>
</body>
</html>