<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQs</title>
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="stylesheet" href="./css/faqs.css" />
</head>
<body>
    <header>
        <div class="logo">
          <img src="../assets/logo.png" />
          <h3>GetWheels</h3>
        </div>
  
        <div class="h_links">
          <a href="index.html">Home</a>
          <a href="about_us.html">About Us</a>
          <a href="car_list.html">Car List</a>
          <a href="faqs.html">FAQs</a>
        </div>
  
        <a href="./login.html">
          <div class="login_ic">
            <img src="../assets/ic_user.svg" />
            username
          </div>
        </a>
      </header>
    
      <section class="sec1">
        <div>
            <h2>Frequently Ask Questions (FAQs)</h2>
            <p>
                1. How can I make a booking?
                <br>Booking can made by website. For booking, you can go to booking forms and fill up all the information needed.
            </p>
            <p>
                2. What are the steps and documents I need to rent with GetWheels Transportation?
                <ul>
                    <li>A valid license driver</li>
                    <li>Original IC</li>
                    <li>Student visa or pass (id needed)</li>
                </ul>
            </p>
            <p>
                3. What are the age requirement to rent a car
                <br>All hires must be the age of 20 and above with a valid CDL (Competent Driving License). No probationary license accepted.
            </p>
            <p>
                4. Do GetWheels Transportation Cover Fuel Expenses?
                <br>No, we do not cover fuel expenses through out your journey. We are practising fuelto-policy in which renter are always liable to return the car with the same level of fuel given to renter during pickup.
            </p>
            <p>
                5. Does the car comes with full fuel?
                <br> No. Fuel level may vary depending on availability during pickup.
            </p>
            <p>
                6. I have caught speeding. How much do I need to pay?
                <br>You are always liable to pay for the compasation of company losses, including traffic fine and summons imposed by PDRM or JPJ not limited to any offences.
            </p>
            <p>
                7. Can I bring my own car seat?
                <br>Yes, you may bring your own child seat with a condition while installing it to GetWheels 's car transportation. 
            </p>
            <p>
                8. How many days in advance at minimum do I need to book my car?
                <br>The minimum you need to book is 24 hours subject to availability. However, we  recommend booking earlier to avoid disappointment. You can also secure a better rate when you book early with us.
            </p>
        </div>
      </section>

      <footer>
        <div class="f_links">
          <a href="index.html">Home</a>
          <a href="about_us.html">About Us</a>
          <a href="car_list.html">Car List</a>
          <a href="faqs.html">FAQs</a>
        </div>
        © 2020 Copyright: MDBootstrap.com
      </footer>
</body>
</html>