<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/index.css">
    <title>GetWheels</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="../assets/logo.png">
            <h3>GetWheels</h3>
        </div>

        <div class="h_links">
            <a href="index.html">Home</a>
            <a href="about_us.html">About Us</a>
            <a href="car_list.html">Car List</a>
            <a href="faqs.html">FAQs</a>
        </div>

        <a href="./login.html">
            <div class="login_ic">
                <img src="../assets/ic_user.svg">
                username
            </div>
        </a>

    </header>


    <section class="sec_1">
        <div class="sec1_c">
            <h1>
                Safer, Faster And<br>
                Comfortable
            </h1>
            <h4>Get in touch and book <br> your favourites<br>
                <strong>NOW</strong>
            </h4>

            <button><a href="car_list.html">
                    Rent now
                </a>
            </button>
        </div>
        <img src="../assets/home/home1.bkg.webp">
    </section>

    <section class="sec_2">

        <h1>Our Top Sales</h1>

        <div class="sales_container">
            <div class="bezza">
                <img src="../assets/home/bezza.jpg">
                <p><strong>PERODUA BEZZA</strong></p>
            </div>
            <h2>Grab now with <br> 20% off<br>for your first rental</h2>
        </div>

    </section>

    <section class="sec_3">
        <div class="sec3_c">
            <h2>
                Become A Driver.<br>
                Your Time. Your Goals. You’re The Boss.
            </h2>

            <h5>Subscribe to our news letter:</h5>
            <form action="mailto:admin@getwheels.com" method="post" enctype="text/plain">
                <div class="mail_div">
                    <input type="text" name="mail" placeholder="email"><br>
                    <input type="submit" value="Send">
                </div>

            </form>
        </div>
        <img src="../assets/home/drive.jpg">
    </section>

    <footer>
        <div class="f_links">
            <a href="index.html">Home</a>
            <a href="about_us.html">About Us</a>
            <a href="car_list.html">Car List</a>
            <a href="faqs.html">FAQs</a>
        </div>
        © 2020 Copyright: MDBootstrap.com
    </footer>

</body>

</html>