<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="stylesheet" href="./css/sign_up.css">
  <style>
    body {
      background-image: url("../assets/home/home1.bkg.webp");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
    }
  </style>
</head>

<body>
  <header>
    <div class="logo">
      <img src="../assets/logo.png" />
      <h3>GetWheels</h3>
    </div>

    <div class="h_links">
      <a href="index.html">Home</a>
      <a href="about_us.html">About Us</a>
      <a href="car_list.html">Car List</a>
      <a href="faqs.html">FAQs</a>
    </div>

    <a href="./login.html">
      <div class="login_ic">
        <img src="../assets/ic_user.svg" />
        username
      </div>
    </a>
  </header>

  <div class="big-container">

    <form>
      <div class="small-container">

        <div class="details_container1">
          <div class="container-details">
            <p1>Sign Up</p1><br>
            <p2>Drive into Convenience with a Click! </p2>
          </div>
          <div class="container_details">
            <label for="username">Username:</label>
            <input type="text" name="username" placeholder="Username">
          </div>
          <div class="container_details">
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Password">
          </div>
          <div class="container_details">
            <label for="confirm">Confirm Password:</label>
            <input type="password" name="confirm" placeholder="Confirm Password">
          </div>
        </div>

        <div class="details_container2">
          <div class="container-details">
            <label for="fname">Full Name:</label>
            <input type="text" name="fname" placeholder="Full Name">
          </div>
          <div class="container_details">
            <label for="address">Address:</label>
            <textarea type="text" name="address" placeholder="Address"></textarea>
          </div>
          <div class="container_details">
            <label for="phone">Phone No:</label>
            <input type="text" name="phone" placeholder="Phone">
          </div>
          
        </div>
        
        <input type="button" onclick="window.location.href='index.html';" value="Register" class="register">
      </div>



    </form>
    
  </div>

  <footer>
    <div class="f_links">
      <a href="index.html">Home</a>
      <a href="about_us.html">About Us</a>
      <a href="car_list.html">Car List</a>
      <a href="faqs.html">FAQs</a>
    </div>
    © 2020 Copyright: MDBootstrap.com
  </footer>
</body>

</html>