<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/sign_up.css">
</head>
<body>
    <header>
        <div class="logo">
          <img src="../assets/logo.png" />
          <h3>GetWheels</h3>
        </div>
  
        <div class="h_links">
          <a href="index.html">Home</a>
          <a href="about_us.html">About Us</a>
          <a href="car_list.html">Car List</a>
          <a href="faqs.html">FAQs</a>
        </div>
  
        <a href="./login.html">
          <div class="login_ic">
            <img src="../assets/ic_user.svg" />
            username
          </div>
        </a>
      </header>
      
    <div class="signup-container">
        <div class="frame-5">
            <h2>Sign Up</h2>
            <p>Drive into Convenience with a Click!</p>
            <form>
                <label for="username">Username:</label>
                <input type="text" name="username" placeholder="Username">
                <label for="password">Password:</label>
                <input type="password" name="password" placeholder="Password">
                <label for="confirm">Confirm Password:</label>
                <input type="password" name="confirm" placeholder="Confirm Password">
            </form>
        </div>
    </div>
</body>
</html>
