h2 {
    margin-left: 100px;
    width: calc(100% - 100px);
}

a{
    color: #000;
}

.sec1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.sec1_c {
    width: 70%;
    display: grid;
    justify-content: space-around;
    align-items: center;
    gap: 3vw;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));

}

.grid_item {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    aspect-ratio: 5/7;

    border: 1px #000 solid;
    border-radius: 15px;

    transition: 400ms;

    img {
        width: auto;
        max-width: 100%;
        height: auto;
    }

    &:hover{
        cursor: pointer;
        scale: 1.05;
    }
}

.item_details {
    padding: 10px;

    p {
        margin: 0;
    }
}

#prodName {
    font-size: 38px;
    font-weight: 600;
}

#price {
    font-size: 25px;
    font-style: italic;
}

#sizeTitle {
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
}

#size {
    font-size: 20px;
    line-height: 25px;
    font-weight: 300;
}