.sec1 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    min-height: 100vh;
    margin: 0 200px 0 100px;
    padding: 50px;
    font-size: 24px;

    justify-content: center;

    p,
    li {
        text-align: justify;
        max-width: 65ch;
    }

    a {
        text-decoration: underline;
        color: #5768fd;
    }
}

.sec1 h2 {
    color: #2C3EDC;
}

.sec1 ol ul li {
    margin: 10px;
    list-style-type: disc;
}

.sec1 ol li {
    margin: 30px;
}