.sec1 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    min-height: 100vh;
    margin: 0 200px 0 100px;
    padding:50px;
    font-size: 24px;

    justify-content: center;
}

.sec1 h2 {
    color: #2C3EDC;
}

.sec1 p {
    max-width: 65ch;
}

.sec1i {
    font-size: 24px;
    padding: 10p;
    max-width: 65ch;
}
.sec1c {
    max-width: 65ch;
}