body {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vx;
    overflow-x: hidden;
    min-height: 100vh;
    flex-direction: column;
}
.big-container {
    border-radius: 25px;
    width: 100vw;
    height: 81vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-details p1 {
    color: #1A2CCE;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.container-details p2 {
    color: #1A2CCE;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.small-container{
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 25px;
    width: 60vw;
    height: 60vh;
    flex-shrink: 0; 
    display: flex;
    justify-content: space-between;
    border: 0px solid #000;
    padding: 60px;
    position: relative;
    >*{
        width: 50%;
        display: flex;
        justify-content: center;
        padding: 50px;
    }  
}
.details_container1{
    display: flex;
    flex-direction: column;
    gap: 45px;
    border-right: 1px #5768FD solid;
}
.details_container2{
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-left: 40px;
}
label {
    color: #1A2CCE;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

textarea{
    margin-bottom: 16px;
    border-radius: 7px;
    border: 1px solid #1A2CCE;
    background: rgba(178, 178, 178, 0.39);
    padding: 15px;
    width: calc(100% - 30px);
    height: 80px;
    flex-shrink: 0;
    display: flex;
}
.register {
    width: 140px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #2C3EDC;
    color: white;
    font-size: 20px;
    padding: 10px 10px;
    position: absolute;
    right: 110px;
    bottom: 0px;
}
input {
    margin-bottom: 16px;
    border-radius: 7px;
    border: 1px solid #1A2CCE;
    background: rgba(178, 178, 178, 0.39);
    padding: 15px;
    width: calc(100% - 30px);
    flex-shrink: 0;
    display: flex;
}
input[type=text],input[type=password], textarea[type=text]{
    color: rgba(0, 0, 0, 0.40);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}